@model BacklineSoporte.Models.HomeClienteModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/HomeCliente/HomeCliente.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home cliente</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

    <style>
        html, body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('../../Recursos/Imagenes/Fondo_Cliente_2024.png');
            background-size: cover;
            background-repeat: repeat;
            height: 100%;
            font-family: 'Numans', sans-serif;
        }

        .card-img-top {
            width: 100px;
        }

        .contenedor-imagen {
            width: 100%;
            text-align: center;
        }
    </style>



</head>
<body>
    <div class="ui link cards" >
        <div class="container" >
            <div style="height:5px"></div>
            <h2 style="color: white" class="ui center aligned header">
                @*<img src="~/Recursos/Imagenes/LogoBackline.png" class="ui image">*@
                Bienvenido a soporte @Model.NombreCliente
            </h2>
            <div class="row" style="display: flex; justify-content: center; align-items: center">
                @*Solicitudes*@
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity:1; width:70%">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/Solicitud.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Listado de requerimientos
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/Mesa?limpiar=1'" class="ui right labeled icon blue button">
                                        Ingresar
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity:1; width: 70%">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/informacion.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Informaciones para clientes
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/InformacionCliente'" class="ui right labeled icon blue button">
                                        Ingresar
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</body>
</html>