@model  BacklineSoporte.Models.HomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Home.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" />
    <title>Home</title>
    <!-- Estilos y funciones básicas de funcionamiento -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

    <style>
        html, body {
            background-color: #121213;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.52'%3E%3Ccircle fill='%23121213' cx='50' cy='0' r='50'/%3E%3Cg fill='%23171718' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b1b1c' cx='50' cy='100' r='50'/%3E%3Cg fill='%231f1f21' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23232326' cx='50' cy='200' r='50'/%3E%3Cg fill='%2327282b' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c2c2f' cx='50' cy='300' r='50'/%3E%3Cg fill='%23303134' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23343539' cx='50' cy='400' r='50'/%3E%3Cg fill='%23393a3f' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d3f44' cx='50' cy='500' r='50'/%3E%3Cg fill='%23424449' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2347494e' cx='50' cy='600' r='50'/%3E%3Cg fill='%234b4e54' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23505359' cx='50' cy='700' r='50'/%3E%3Cg fill='%2354585f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23595d64' cx='50' cy='800' r='50'/%3E%3Cg fill='%235e626a' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23626770' cx='50' cy='900' r='50'/%3E%3Cg fill='%23676d75' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%236C727B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
            background-attachment: fixed;
            background-size: contain;
            font-family: 'Numans', sans-serif;
        }
        .card-img-top{
         width: 200px;
        }
        .contenedor-imagen{
            width:100%;
            text-align:center;
        }
    </style>

    <script>

        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });
        });

    </script>
</head>
<body>
    <div class="ui link cards">
        <div class="container">
            <div style="height:5px"></div>
            <h3 style="color:white" class="ui center aligned header">
                <img src="~/Recursos/Imagenes/LogoBackline.png" class="ui image">
                Bienvenido al sistema de soporte Backline @Model.NombreUsuario
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity:0.9">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/Agenda.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">En este módulo podrás ingresar, eliminar y editar tareas.
                          </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/Agenda?limpiar=1'" class="ui right labeled icon black button">
                                        Agenda
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity: 0.9">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/FichaCliente.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Aquí podrás ingresar los nuevos cliente y editar algunos datos.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/FichaCliente'" class="ui right labeled icon black button">
                                        Ingresar a ficha de clientes
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Solicitudes*@
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity: 0.9">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/BotonIngresoRequerimientos.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Crea nuevos requerimientos y revisa el estado en que se encuentra.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/Requerimiento?limpiar=1'" class="ui right labeled icon black button">
                                        Ingreso de requerimientos
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity: 0.9">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/informacion.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Ingresa informaciones que seran expuestas en el sistema de farmacias Backline.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/Informacion'" class="ui right labeled icon black button">
                                        Ingreso de informaciones
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity: 0.9">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/AvisoCobro.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Aquí podrás ingresar los avisos de cobro del sistema de farmacias.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/AvisoCobro'" class="ui right labeled icon black button">
                                        Ingresar cobro
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity:0.9">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/Consultas.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Aquí podrás realizar consultas respecto a la información de las empresas.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/Consultas'" class="ui right labeled icon black button">
                                        Ingresar a consultas
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity:0.9">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/ba11d2a2a56da950b9e44d234fbcfc95.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">En este modulo podrás crear, eliminar y editar farmacias.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/CrearFarmacia'" class="ui right labeled icon black button">
                                        Crear farmacia
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity:0.9">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/Desa.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">En este modulo podrás crear, eliminar y editar desarrollos.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/Desarrollos?limpiar=1'" class="ui right labeled icon black button">
                                        Ingresar a desarrollos
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>
</body>
</html>