@model  BacklineSoporte.Models.HomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Home.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" />
    <title>Home</title>
    <!-- Estilos y funciones básicas de funcionamiento -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/CSS/FondoPantalla.css">

    <style>

        .card-img-top {
            width: 100px;
        }

        .contenedor-imagen {
            width: 100%;
            text-align: center;
        }
    </style>

    <script>

        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });
        });

    </script>
</head>
<body>
    <div class="ui link cards">
        <div class="container">
            <div style="height:5px"></div>
            <h3 style="color:white" class="ui center aligned header">
                <img src="~/Recursos/Imagenes/LogoBackline.png" class="ui image">
                Bienvenido al sistema de soporte Backline @Model.NombreUsuario
            </h3>
            <div class="row">
                @*<div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity:0.9">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/Agenda.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                En este módulo podrás ingresar, eliminar y editar tareas.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/Agenda?limpiar=1'" class="ui right labeled icon black button">
                                        Agenda
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>*@
                @*<div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity: 0.9">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/FichaCliente.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Aquí podrás ingresar los nuevos cliente y editar algunos datos.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/FichaCliente'" class="ui right labeled icon black button">
                                        Ingresar a ficha de clientes
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                
                @*<div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity: 0.9">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/BotonIngresoRequerimientos.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Crea nuevos requerimientos y revisa el estado en que se encuentra.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/Requerimiento?limpiar=1'" class="ui right labeled icon black button">
                                        Ingreso de requerimientos
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity: 0.9">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/informacion.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Ingresa informaciones que seran expuestas en el sistema de farmacias Backline.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/Informacion'" class="ui right labeled icon black button">
                                        Ingreso de informaciones
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                    @*<div class="col-md-4">
                        <div class="card mb-4 shadow-sm" style="opacity: 0.9">
                            <div class="contenedor-imagen">
                                <img class="card-img-top" src="~/Recursos/Imagenes/AvisoCobro.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <p class="card-text">Aquí podrás ingresar los avisos de cobro del sistema de farmacias.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <div id="btnMarketPlace" onclick="window.location.href = '/AvisoCobro'" class="ui right labeled icon black button">
                                            Ingresar cobro
                                            <i class="hand point left icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity:0.9">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/Consultas.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Aquí podrás realizar consultas respecto a la información de las empresas.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/Consultas'" class="ui right labeled icon black button">
                                        Ingresar a consultas
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                    @*<div class="col-md-4">
                        <div class="card mb-4 shadow-sm" style="opacity:0.9">
                            <div class="contenedor-imagen">
                                <img class="card-img-top" src="~/Recursos/Imagenes/ba11d2a2a56da950b9e44d234fbcfc95.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <p class="card-text">En este modulo podrás crear, eliminar y editar farmacias.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <div id="btnMarketPlace" onclick="window.location.href = '/CrearFarmacia'" class="ui right labeled icon black button">
                                            Crear farmacia
                                            <i class="hand point left icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>*@
                

                @*<div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity:0.9">
                        <div class="contenedor-imagen">
                            <img class="card-img-top" src="~/Recursos/Imagenes/Desa.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">En este modulo podrás crear, eliminar y editar desarrollos.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/Desarrollos?limpiar=1'" class="ui right labeled icon black button">
                                        Ingresar a desarrollos
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>*@
                @if (SessionH.Usuario.Id == 1 || SessionH.Usuario.Id == 2 || SessionH.Usuario.Id == 3)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm" style="opacity:0.9">
                            <div class="contenedor-imagen">
                                <img class="card-img-top" src="~/Recursos/Imagenes/PanelControl.png" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <p class="card-text">Aquí podrás realizar distintos soportes para los clientes.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <div id="btnMarketPlace" onclick="window.location.href = '/PanelControl'" class="ui right labeled icon black button">
                                            Panel de control
                                            <i class="hand point left icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>