@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Facturacion/Facturacion.cshtml";
}

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desarrollos</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/CSS/FondoPantalla.css">

    <script src="~/ScriptsVistas/LogicaFacturacion.js"></script>

    <style>
    </style>
    <script>

        var urlObtenerProductoFacturado = '@Url.Action("ObtenerProductoFacturado", "Facturacion")';
        var urlObtenerEstadoFactura = '@Url.Action("ObtenerEstadoFactura", "Facturacion")';

    </script>
</head>

<body>

    <br />
    <div style="margin-left:auto; margin-right:auto; width:95%; opacity:0.9">
        <div class="ui bottom attached segment" style="margin-left:auto; margin-right:auto; width:100%">
            <div id="btnAgregaFacturacion" data-toggle="modal" data-target="#modalFacturacion" class="ui blue right labeled icon button">
                Agregar Facturación
                <i class="checkmark icon"></i>
            </div>
            <div id="btnSalir" class="ui right labeled icon button" onclick="javascript:location.href='/FichaCliente'" data-dismiss="modal">Volver<i class="arrow left icon"></i></div>
        </div>
    </div>


    <div class=" modal fade " id="modalFacturacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left: auto; margin-right: auto; width: 95%; opacity:0.9">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div style="height:5px"></div>
                <div>

                    <h3 style="color:black" class="ui header">
                        <img class="bordered rounded" src="~/Recursos/Imagenes/LogoBackline.png" width="50" alt="">
                        Facturación
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="image content">
                        <div class="ui info message">
                            <div class="header">
                                Atención al llenar los datos!
                            </div>
                            Debes completar todos los campos para guardar!
                            <div class="ui divider"></div>
                            <div class="ui form">
                                <form>
                                    <div class="two fields">
                                        <div id="divTxtNumeroFactura" class="field">
                                            <label>Número factura:</label>
                                            <input type="number" id="txtNumeroFactura">

                                        </div>
                                        <div id="divTxtFechaFactura" class="field">
                                            <label>Fecha de factura:</label>
                                            <input type="date" id="txtFechaFactura">

                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div id="divcmbProducto" class="field">
                                            <label>Producto facturable:</label>
                                            <select id="cmbProducto" name="cmbProducto" class="ui search selection dropdown">
                                            </select>
                                        </div>
                                        <div id="divTxtFechaVencimiento" class="field">
                                            <label>Fecha vencimiento de pago:</label>
                                            <input type="date" id="txtFechaVencimiento">
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div id="divcmbEstado" class="field">
                                            <label>Estado:</label>
                                            <select id="cmbEstado" name="cmbEstado" class="ui search selection dropdown">
                                            </select>
                                        </div>
                                        <div id="divtxtNumeroTransaccion" class="field">
                                            <label>Número de transacción</label>
                                            <input type="number" id="txtNumeroTransaccion">

                                        </div>
                                    </div>
                                    <div id="divtxtObservacion" class="field">
                                        <label>Observación</label>
                                        <textarea placeholder="Ingrese un observación aquí..." rows="5" id="txtObservacion"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div style="height:5px">

                    </div>
                    <div id="divExito" class="ui icon hidden positive  message">
                        <i class="stopwatch icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>La facturación fue guardada con éxito.</p>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeError" class="list"></ul>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeErrorAgregar" class="list"></ul>
                        </div>
                    </div>
                    <button id="btnGuardaFacturacion" class="ui right labeled blue icon button" onclick="GuardarFacturacion();">
                        <i class="check circle icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Guardar Facturacion
                            </font>
                        </font>
                    </button>
                    <button class="ui right labeled red icon button" onclick="window.location.replace('/Facturacion')">
                        <i class="left arrow icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Volver
                            </font>
                        </font>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>





