
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Desarrollos/Desarrollos.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desarrollos</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

    <script src="~/ScriptsVistas/LogicaDesarrollos.js"></script>

    <style>
        html, body {
            background-color: #121213;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.52'%3E%3Ccircle fill='%23121213' cx='50' cy='0' r='50'/%3E%3Cg fill='%23171718' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b1b1c' cx='50' cy='100' r='50'/%3E%3Cg fill='%231f1f21' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23232326' cx='50' cy='200' r='50'/%3E%3Cg fill='%2327282b' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c2c2f' cx='50' cy='300' r='50'/%3E%3Cg fill='%23303134' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23343539' cx='50' cy='400' r='50'/%3E%3Cg fill='%23393a3f' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d3f44' cx='50' cy='500' r='50'/%3E%3Cg fill='%23424449' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2347494e' cx='50' cy='600' r='50'/%3E%3Cg fill='%234b4e54' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23505359' cx='50' cy='700' r='50'/%3E%3Cg fill='%2354585f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23595d64' cx='50' cy='800' r='50'/%3E%3Cg fill='%235e626a' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23626770' cx='50' cy='900' r='50'/%3E%3Cg fill='%23676d75' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%236C727B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
            background-attachment: fixed;
            background-size: contain;
            font-family: 'Numans', sans-serif;
        }
    </style>
    <script type="text/javascript">
        var urlGuardarDesarrollo = '@Url.Action("GuardarDesarrollo" , "Desarrollos")';
    </script>
</head>

<body>
    <br />
    <div style="margin-left:auto; margin-right:auto; width:95%; opacity:0.9">
        <div class="ui bottom attached segment" style="margin-left:auto; margin-right:auto; width:100%">
            <table class="ui celled definition table" style="width:30%">
                <tbody>

                    <tr>
                        <td>Botón</td>
                        <td>
                            <button class="ui icon red button" disabled>
                                <i class="trash icon"></i>
                            </button>


                        </td>
                        <td>
                            <button class="ui blue icon button" disabled>
                                <i class="edit icon"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Acción</td>
                        <td>Elimina desarrollo</td>
                        <td>Edita desarrollo</td>
                    </tr>
                </tbody>
            </table>
            <div id="btnAgregaDesarrollo" data-toggle="modal" data-target="#modalDesarrollos" class="ui blue right labeled icon button">
                Agregar Desarrollo
                <i class="checkmark icon"></i>
            </div>
            <div id="btnSalir" class="ui right labeled icon button" onclick="javascript:location.href='/Home'" data-dismiss="modal">Volver<i class="arrow left icon"></i></div>

            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue"></th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">ID</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Módulo</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Requerimiento</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Detalle requerimiento</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Fecha Ingreso</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Fecha Termino</th>
                    </tr>
                </thead>


            </table>
        </div>
    </div>

    <div class="modal fade" id="modalDesarrollos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left: auto; margin-right: auto; width: 95%; opacity:0.9">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div style="height:5px"></div>
                <div>

                    <h3 style="color:black" class="ui header">
                        <img class="bordered rounded" src="~/Recursos/Imagenes/LogoBackline.png" width="50" alt="">
                        Desarrollos
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="image content">
                        <div class="ui info message">
                            <div class="header">
                                Atención al llenar los datos!
                            </div>
                            Debes completar todos los campos para guardar!
                            <div class="ui divider"></div>
                            <div class="ui form">
                                <form>
                                    <div class="two fields">

                                        <div id="divTxtFechaInicio" class="field">
                                            <label>Fecha Inicio:</label>
                                            <input type="date" id="txtFechaInicio" >

                                        </div>
                                        <div id="divTxtFechaTermino" class="field">
                                            <label>Fecha Termino:</label>
                                            <input type="date" id="txtFechaTermino">

                                        </div>
                                    </div>
                                    

                                    <div id="divTxtModulo" class="field">
                                        <label>Módulo:</label>
                                        <input type="text" id="txtModulo" style="text-transform:uppercase;" placeholder="Ingrese el módulo a trabajar">

                                    </div>
                                    <div id="divTxtRequerimiento" class="field">
                                        <label>Requerimiento:</label>
                                        <input type="text" id="txtRequerimiento"  placeholder="Ingrese requerimiento solicitado">

                                    </div>
                                    <div id="divTxtDetalle" class="field">
                                        <label>Detalle requerimiento:</label>
                                        <textarea placeholder="Detalle del requerimiento aquí..." rows="5" id="txtDetalle" style="text-transform:uppercase;"></textarea>
                                    </div>



                                </form>
                            </div>
                        </div>
                    </div>
                    <div style="height:5px">

                    </div>
                    <div id="divExito" class="ui icon hidden positive  message">
                        <i class="stopwatch icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>El desarrollo fue guardado con éxito.</p>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeError" class="list"></ul>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeErrorAgregar" class="list"></ul>
                        </div>
                    </div>
                    <button id="btnGuardaDesarrollo" class="ui right labeled blue icon button" onclick="GuardarDesarrollo();">
                        <i class="check circle icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Guardar Desarrollo
                            </font>
                        </font>
                    </button>
                    <button class="ui right labeled red icon button" onclick="window.location.replace('/Desarrollos')">
                        <i class="left arrow icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Volver
                            </font>
                        </font>
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<input type="hidden" id="hidDesarrollo" value="0" />
